@media (hover:none){
	html,body{
		overflow:hidden;
	}
}

#app{
	background:rgba(0, 0, 0, 0.5);
	height: 100vh;
	overflow:hidden;
	position:relative;
	width:100%;
}

#app .slide-container{
	height:100%;
	position:absolute;
	width:100%;
}

/* 
.active class allows transition animation and 
pulls section to second-from-top of stack.

transition delay should be set to after all content's animations are done.
*/
#app .slide-container.active{
	transition: 500ms top 1500ms, 500ms opacity 1500ms;
	z-index:1;
}

/*
.in pulls section to very top of stack.
*/
#app .slide-container.active.in{
	z-index:2;
}

#app .slide{
	height:100%;
	overflow:auto;
	position:relative;
	width:100%;
	-webkit-overflow-scrolling: touch;
}

/* ============================== 
TRANSITION STATES
============================== */
#app .slide-container{
	opacity:0;
	pointer-events:none;
}

#app .slide-container.active{
	pointer-events:unset;
}

/* ANIMATE IN */
#app .slide-container.active.in{
	opacity:1;
	top:0;



}

/* ============================== 
TRANSITION DIRECTIONAL
============================== */
#app .slide-container.active.in.up{
	opacity:1;
	top:-100%;
	z-index:2;
}

#app .slide-container.active.in.down{
	opacity:1;
	top:100%;
	z-index:2;
}
#app .slide-container.active.out.up{
	opacity:1;
	top:-100%;
	z-index:2;
}

#app .slide-container.active.out.down{
	opacity:1;
	top:100%;
	z-index:2;
}

/* ============================== 
CONTENT
============================== */
#app #red .temp-content{
	background:rgba(200, 0, 0, 0.25);
	color:#fff;
	display:inline-block;
	min-height:1000px;
	opacity:0;
	width:45%;
}

#app #red.in .temp-content{
	opacity:1;
	transition:500ms opacity 2500ms;
}

#app #red.out .temp-content{
	opacity:0;
	transition:500ms opacity;
}

#app #red .temp-content2{
	background:rgba(0, 200, 0, 0.25);
	color:#fff;
	display:inline-block;
	min-height:200px;
	opacity:0;
	vertical-align:top;
	width:45%;
}

#app #red.in .temp-content2{
	opacity:1;
	transition:500ms opacity 2500ms;
}

#app #red.out .temp-content2{
	opacity:0;
	transition:500ms opacity;
}

#app #red .temp-content2 .temp-box{

}


/* ============================== 
SLIDE DESIGNATIONS (TEMP)
============================== */
#app .slide-container#red{
	background:url(../img/red.jpg)no-repeat center;
	background-size:cover;
}

#app .slide-container#blue{
	background:url(../img/blue.jpg)no-repeat center;
	background-size:cover;
}

#app .slide-container#yellow{
	background:url(../img/yellow.jpg)no-repeat center;
	background-size:cover;
}

#app .slide-container#green{
	background:url(../img/green.jpg)no-repeat center;
	background-size:cover;
}










